:root{
    --blue-light: rgb(10, 90, 202);
    --orange-light: rgb(208, 144, 7);
    --red-dark: rgb(228, 0, 0);
    --black: rgb(0, 0, 0);
}

.task {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.task form {
    display: inline-block;
}

.error {
    color: red;
}

body {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    background-color: #181536;
}

.t_container{
        width: 100%;
        max-width: 120rem;
        margin: 0 auto;
        background-color: #777070;
        padding: .008rem 1.0rem;
        border-radius: 10px;
        color: #ddd;
    }
/* Styles for the buttons */
    .btn-t{
        background-color: var(--blue-light);
    }
    .btn-t:hover{
        background-color: var(--orange-light);
    }
    .btn-d{
        background-color: var(--black);
    }
    .btn-d:hover{
        background-color: var(--red-dark);
    }
    .btn{
        color: #fff;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: .008rem .5rem;
        border-radius: 5rem;
        display: inline-flex;
        align-items: center;
    }

/* Styles for the table */
.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.task-table th {
    background-color: #0d5c02;
    color: #f8fbf8;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.task-table td {
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: #049123;
    color: #f8fbf8;
}

.task-table .btn {
    margin-top: 5px;
}

/* Styles for headers */
.header-2{
    font-size: 18px;
    color: #ddd;
    text-align: center;
}

.header-1{
    font-size: 19px;
}

